.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.325000,0.000000,0.000000,0.325000,0,0);-ms-transform:matrix(0.325000,0.000000,0.000000,0.325000,0,0);-webkit-transform:matrix(0.325000,0.000000,0.000000,0.325000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-4.896058px;}
._3{margin-left:-3.038669px;}
._0{margin-left:-1.006795px;}
._6{width:2.973938px;}
._7{width:5.914899px;}
._9{width:8.171968px;}
._8{width:11.103844px;}
._1{width:14.156479px;}
._2{width:15.713269px;}
._4{width:23.974004px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.000001px;}
.y0{bottom:-0.650000px;}
.y25{bottom:101.421587px;}
.y24{bottom:120.331731px;}
.y23{bottom:139.241875px;}
.y22{bottom:158.152019px;}
.y21{bottom:192.662165px;}
.y20{bottom:211.572309px;}
.y1f{bottom:230.482453px;}
.y1e{bottom:249.392597px;}
.y1d{bottom:283.902736px;}
.y1c{bottom:302.812880px;}
.y1b{bottom:321.723024px;}
.y1a{bottom:356.233165px;}
.y19{bottom:375.143309px;}
.y18{bottom:394.053453px;}
.y17{bottom:412.963597px;}
.y16{bottom:431.873741px;}
.y15{bottom:450.783885px;}
.y14{bottom:469.694029px;}
.y13{bottom:504.204175px;}
.y12{bottom:523.114319px;}
.y11{bottom:542.024463px;}
.y10{bottom:560.934607px;}
.yf{bottom:595.444746px;}
.ye{bottom:614.354890px;}
.yd{bottom:633.265034px;}
.yc{bottom:667.775186px;}
.yb{bottom:686.685330px;}
.ya{bottom:705.595474px;}
.y9{bottom:740.105616px;}
.y8{bottom:759.015759px;}
.y7{bottom:777.925904px;}
.y6{bottom:796.836047px;}
.y5{bottom:815.746192px;}
.y4{bottom:834.656336px;}
.y3{bottom:869.166480px;}
.y2{bottom:888.076623px;}
.y26{bottom:903.676624px;}
.y1{bottom:922.586768px;}
.h2{height:32.033204px;}
.h0{height:1029.600000px;}
.h1{height:1030.250000px;}
.w0{width:795.600000px;}
.w1{width:796.250000px;}
.x0{left:0.000000px;}
.x1{left:93.600000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-5.021598pt;}
._3{margin-left:-3.116584pt;}
._0{margin-left:-1.032611pt;}
._6{width:3.050193pt;}
._7{width:6.066563pt;}
._9{width:8.381506pt;}
._8{width:11.388558pt;}
._1{width:14.519465pt;}
._2{width:16.116173pt;}
._4{width:24.588722pt;}
.fs0{font-size:45.128206pt;}
.y0{bottom:-0.666667pt;}
.y25{bottom:104.022141pt;}
.y24{bottom:123.417160pt;}
.y23{bottom:142.812180pt;}
.y22{bottom:162.207199pt;}
.y21{bottom:197.602221pt;}
.y20{bottom:216.997240pt;}
.y1f{bottom:236.392260pt;}
.y1e{bottom:255.787279pt;}
.y1d{bottom:291.182293pt;}
.y1c{bottom:310.577313pt;}
.y1b{bottom:329.972332pt;}
.y1a{bottom:365.367348pt;}
.y19{bottom:384.762368pt;}
.y18{bottom:404.157387pt;}
.y17{bottom:423.552407pt;}
.y16{bottom:442.947426pt;}
.y15{bottom:462.342446pt;}
.y14{bottom:481.737465pt;}
.y13{bottom:517.132487pt;}
.y12{bottom:536.527506pt;}
.y11{bottom:555.922526pt;}
.y10{bottom:575.317545pt;}
.yf{bottom:610.712560pt;}
.ye{bottom:630.107580pt;}
.yd{bottom:649.502599pt;}
.yc{bottom:684.897626pt;}
.yb{bottom:704.292646pt;}
.ya{bottom:723.687665pt;}
.y9{bottom:759.082683pt;}
.y8{bottom:778.477702pt;}
.y7{bottom:797.872722pt;}
.y6{bottom:817.267741pt;}
.y5{bottom:836.662761pt;}
.y4{bottom:856.057780pt;}
.y3{bottom:891.452800pt;}
.y2{bottom:910.847819pt;}
.y26{bottom:926.847820pt;}
.y1{bottom:946.242839pt;}
.h2{height:32.854568pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x1{left:96.000000pt;}
}
